h1 {
    color      : orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#menu {
    list-style      : none;
    display         : flex;
    margin          : 0;
    padding         : 0;
    background-color: black;
}

#menu a {
    color          : white;
    text-decoration: none;
    padding        : 5px 10px;
    display        : block;
}

.row {
    display        : flex;
    gap            : 5px;
    flex-wrap      : wrap;
    justify-content: center;
}

.col-25 {
    width : calc(25% - 2px - 10px);
    height: 500px;
}

.col-75 {
    width: calc(75% - 2px - 10px);
}

.col-50 {
    width: calc(50% - 2px - 10px);
}

.product {
    box-shadow    : 0 0 3px gray;
    padding       : 5px;
    border-radius : 5px;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    height        : 400px;
    /* Đặt chiều cao cố định cho sản phẩm */
}

.product img {
    max-width : 100%;
    height    : 200px;
    /* Đặt chiều cao cố định cho ảnh */
    object-fit: cover;
    /* Đảm bảo ảnh luôn vừa vặn trong khung */
}

.product p {
    font-weight: 500;
    font-size  : 20px;
    height     : 50px;
    text-align : center;
    margin     : 5px 10px;
    /* Hiển thị dấu ba chấm khi văn bản quá dài */
    overflow   : hidden;
    /* Ẩn phần dư thừa của tiêu đề nếu quá dài */
    white-space: inherit;
    /* Không cho văn bản xuống dòng */
    object-fit : cover;
}

/* 
.product .title {
} */

.product p {
    margin: 10px 0;
}

.product a {
    background-color: #000;
    text-decoration : none;
    color           : white;
    padding         : 5px 10px;
    border-radius   : 5px;
    margin-top      : auto;
    /* Đẩy nút "Mua" xuống cuối cùng */
}

.product:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.category-list {
    padding      : 10px;
    margin       : 0;
    list-style   : none;
    box-shadow   : 0 0 3px grey;
    border-radius: 5px;
}

.category-list a {
    padding        : 10px;
    box-shadow     : 0 0 3px grey;
    display        : block;
    text-decoration: none;
    color          : black;

    border-radius: 5px;
}

.category-list a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    ;
    color     : white;
    background: #000;

}

.product-detail img {
    width        : 50%;
    margin       : 0 auto;
    display      : block;
    /* max-height: 700px;
    object-fit   : cover; */
}

.product-detail strong {
    color: red;
}

.product-detail del {
    color    : #333;
    font-size: smaller;
}

.product-detail a {
    text-decoration: none;
    background     : black;
    color          : white;
    padding        : 10px;
    border-radius  : 5px;
}

.comment {
    border       : 1px solid #000;
    padding      : 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.comment button {
    padding      : 5px 20px;
    border-radius: 5px;
    background   : black;
    color        : white;
    border       : 0;
    cursor       : pointer;
}

.comment textarea {
    width: calc(100% - 5px);

}

body {
    margin: 5px;
}